:root {
  --light: rgb(167, 186, 216);
}

body {
	background-color: var(--light);
	height: 100px;
}

header {
	height: 0;
	width: auto;
	padding-bottom: 30%;
}

.hero-banner {
	background-image: url(images/ron-banner-2000-x-600-centered.png);
	background-color: var(--light); /* Used if the image is unavailable */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: contain; /* Resize the background image to cover the entire container */
	background-position: center;
}

/* beginning of toggle switch styling */
label.switch {
  margin-top: 5px !important;
  margin-left: 5px !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative !important;
  display: inline-block !important;
  width: 60px !important;
  height: 34px !important;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

/* The slider */
.slider {
  position: absolute !important;
  cursor: pointer !important;
  top: 2px !important;
  left: 2px !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: #f3e09e !important;
  border: white 2px solid !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

.slider:before {
  position: absolute !important;
  content: "🎷" !important;
  height: 26px !important;
  width: 26px !important;
  left: 4px !important;
  bottom: 4px !important;
  border: none !important;
  -webkit-transition: 0.4s !important;
  transition: 0.4s !important;
}

input:checked + .slider {
  background-color: #6b307400 !important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #6b307400 !important;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px) !important;
  -ms-transform: translateX(26px) !important;
  transform: translateX(26px) !important;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px !important;
}

span.slider:before {
  margin: 0px !important;
}

.slider.round:before {
  border-radius: 50% !important;
  margin-top: -4px !important;
}
/* end of toggle switch styling */

h1 {
  color: white;
  font-size: 2em;
  text-align: center;
  margin: 1rem 2rem;
}

.button-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button {
  margin: 1.5rem;
  width: 15rem;
  height: 15rem;
  border: none;
  border-radius: 15px 50px 30px;
  transition-duration: 0.6s;
  background-color: #f3e09e;
}

.breakfastBtn {
  box-shadow: 0 10px 20px black;
  background: url(images/baconeggs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.breakfastBtn:hover {
  box-shadow: 0 5px 10px black;
  transform: scale(0.95);
}

.steakBtn {
  box-shadow: 0 10px 20px black;
  background: url(images/steak.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.steakBtn:hover {
  box-shadow: 0 5px 10px black;
  transform: scale(0.95);
}

.container {
  text-align: center;
  display: flex;
  position: relative;
}

.gif {
  position: relative;
  margin-top: 40px;
  text-align: center;
  height: auto;
}

.gif-content {
  border-radius: 5px;
  height: 148px;
  width: 165px;
}

footer {
  text-align: center;
  font-size: x-small;
  background-color: #f3e09e;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.65px;
  -webkit-text-stroke-color: #2b2d2f;
}


/* beginning of modal styling */
#modal1 {
  background-image: url(images/137747728-bacon-scrambled-eggs-and-toast-seamless-pattern-english-breakfast-background.jpeg);
  background-size: contain;
  border: 2px solid black;
  border-radius: 10px;
}

#modal2 {
  background-image: url(images/meat-steak-cartoon-set-icon-cartoon-set-icon-pork-sirloin-illustration-meat-steak-white-background_259641-41.jpeg);
	background-size: contain;
  border: 2px solid black;
  border-radius: 10px;
}

.breakfast-modal h4 {
  background-color: #e0dddd;
  border: 1px solid black;
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.steak-modal h4 {
	background-color: #e0dddd;
  border: 1px solid black;
	padding: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  }

#search-value-1 {
  padding: 5px;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: black;
}

#search-value-2 {
	padding: 5px;
	background-color: white;
	border: solid;
	border-width: 1px;
	border-color: black;
}

.gray-background {
  background-color: #e0dddd;
  border: 1px solid black;
  border-radius: 10px;
}

.modal-footer {
	background-color: #e0dddd !important;
  border: 1px solid black;
	padding: 10px !important;
	height: 10% !important;
	width: 70% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	text-align: center !important;
}

.flow-text {
  font-size: 95% !important;
}

.input-field {
  margin-left: 10% !important;
  width: 80% !important;    
} 

#map {
  margin: 0 auto;
  height: 15rem;
  width: 15rem;
  border: 1px solid black;
  border-radius: 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .button {
    margin: 1.5rem;
    width: 13rem;
    height: 13rem;
  }
}
@media screen and (max-width: 768px) {
  .button {
    margin: 1.25rem;
    width: 11rem;
    height: 11rem;
  }
}

@media screen and (max-width: 576px) {
  .button {
    margin: 1rem;
    width: 9rem;
    height: 9rem;
  }
}